img {
	width: 100%;
	height: 100%;
}

#listFood {
	margin-top: 5%;
}

/*desde aqui clases del carrusel*/
.imgCarrusel {
  height: 250px;
}

.space {
  margin-bottom: 3%; 
}

.recetasRecomendadas {
	padding: 2%;
  	margin: 10px 0 10px 0;
}
