body {
    height: 100vh;
    background: rgba(0, 255, 0, 0.166);
}

#carrousel {
    width: 100%;
    height: 40vh;
    margin: 3em 0;
    background: green;
}

#search_recipe {
    height: 20vh;
    margin: 0.5em 0;
}

#search_recipe input {
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1.5em;
    border: none;
    border-radius: 1em;
    outline: none;
}

nav {
    height: 10vh;
}

#registry button {
    margin: 0 0.5em;
}

#foodList .card {
    cursor: pointer;
}