body {
  height: 100vh;
  background-color: #BFC169;
}

nav {
  z-index: 5;
}

section .container {
  background-color: #ecee98;
}
/*.navbar {
  background-color: #0D5839 !important;
}*/
.navbar-brand {
  padding: 0 !important; 
}
.imgNav {
  width: 80%;
}

#registry button {
  margin: 0 0.5em;
}

.filtro li {
  display: inline-block;
}

.filtroCategoria {
  margin: 0 !important;
  padding: 0 !important ;    
}

.dulce {
  background-color:#ad1557;
}
.arroz {
  background-color:#8e75b3;
}
.cereal {
  background-color:#9e9d24;
}
.vegetal {
  background-color:#1c5f2b;
}
.pollo {
  background-color:#ef7c0f;
}
.pasta {
  background-color:#e64a1a;
}
.carne {
  background-color: #c72828;
}
.sopa {
  background-color: #88acdc;
}
.huevo {
  background-color: #f7a943;
}
.pan {
  background-color: #f7e143;
}
/*.intro {
  width: 100%;
  height: 100px;
}*/

#foodList .card {
  cursor: pointer;
}

#foodList .card table {
    font-size: 1.1em;
}

#foodList .card table td:first-child {
    color: green;
}

#foodList .card table td:nth-child(2) {
    color: red;
}

#foodList .card p small {
    background: rgb(247, 255, 247);
    padding: 4px;
    border: 1px dashed green;
    border-radius: 4px;
}

/*desde aqui clases del carrusel*/

.carousel-control-next, .carousel-control-prev {
  width: 10% !important;
}

.row {
  margin: 0;
}

.space {
  margin-bottom: 3%; 
}

.recetasRecomendadas {
  padding: 2%;
  margin: 10px 0 10px 0;
}

.card-img-top {
  object-fit: cover;
}

.card-text {
  font: 10px !important;
}

.nameFood {
  color: red;
}

#searchRecetas {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 1.5em;
    border: none;
    border-radius: 1em;
    outline: none;
 }
    
#carrousel {
  width: 100%;
  height: 40vh;
  margin: 3em 0;
  background: green;
}

#search_recipe {
  height: 20vh;
  margin: 0.5em 0;
}

#search_recipe input {
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border: none;
  border-radius: 1em;
  outline: none;
}